<%- include('../layouts/header.ejs') %>

<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Easy Cancellation</h4>
<form method="post" action="/cancelOrder">
    <div class="form-group">
        <label for="reason">Reason for Cancellation<span class="text-danger">*</span></label>
        <select class="form-control" id="reason" name="reason" required>
            <option value="" disabled selected>Select a reason</option>
            <option value="I found to change the payment option">I found to change the payment option</option>
            <option value="Found a better deal">Found a better deal</option>
            <option value="Delayed delivery">I was hoping for a shorter delivery time</option>
            <option value="Delayed delivery">I worried about the ratings/reviews</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="comments">Additional Comments<span class="text-danger">*</span></label>
        <textarea class="form-control" id="comments" name="comments" rows="4" required></textarea>
    </div>
    <input type="hidden" name="orderId" value="<%= orderId %>">
    <button type="submit" class="btn btn-primary">Continue</button>
  </form>
</div>
</div>
</div>
</div>
</div>
</section>

<%- include('../layouts/footer.ejs') %>
  